[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
loguru = "*"
playwright = "*"
selectolax = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.12"
