[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
sqlalchemy = "*"
loguru = "*"
playwright = "*"
selectolax = "*"
aiohttp = "*"
pyright = "*"
python-decouple = "*"
sqlmodel = "*"
typer = "*"
mysqlclient = "*"
cryptography = "*"
black = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
