-i https://pypi.org/simple
aiohttp==3.9.5; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
annotated-types==0.6.0; python_version >= '3.8'
attrs==23.2.0; python_version >= '3.7'
cffi==1.16.0; platform_python_implementation != 'PyPy'
click==8.1.7; python_version >= '3.7'
colorama==0.4.6; sys_platform == 'win32'
cryptography==42.0.7; python_version >= '3.7'
frozenlist==1.4.1; python_version >= '3.8'
greenlet==3.0.3; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
idna==3.7; python_version >= '3.5'
loguru==0.7.2; python_version >= '3.5'
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
multidict==6.0.5; python_version >= '3.7'
mysqlclient==2.2.4; python_version >= '3.8'
nodeenv==1.8.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
playwright==1.44.0; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydantic==2.7.1; python_version >= '3.8'
pydantic-core==2.18.2; python_version >= '3.8'
pyee==11.1.0; python_version >= '3.8'
pygments==2.18.0; python_version >= '3.8'
pymysql[rsa]==1.1.0; python_version >= '3.7'
pyright==1.1.363; python_version >= '3.7'
python-decouple==3.8
rich==13.7.1; python_full_version >= '3.7.0'
selectolax==0.3.21
setuptools==69.5.1; python_version >= '3.8'
shellingham==1.5.4; python_version >= '3.7'
sqlalchemy==2.0.30; python_version >= '3.7'
sqlmodel==0.0.18; python_version >= '3.7'
typer==0.12.3; python_version >= '3.7'
typing-extensions==4.11.0; python_version >= '3.8'
win32-setctime==1.1.0; sys_platform == 'win32'
yarl==1.9.4; python_version >= '3.7'
